<table class="table table-bordered table-responsive-md table-striped text-center">
  <thead>
    <tr>
        <th class="text-center" name="col1">{{headings[0]}}</th>
        <th class="text-center" name="col2">{{headings[1]}}</th>
        <th class="text-center" name="col3">{{headings[2]}}</th>
        <th class="text-center" name="col4">{{headings[3]}}</th>
        <th class="text-center" name="col5">{{headings[4]}}</th>
    </tr>
  </thead>
  <tbody>
    <tr name="productRow" id={{product.id}}>
      <td class="pt-3-half" name="product">{{product.name}}</td>
      <td class="pt-3-half" name="cost">{{product.cost}}</td>
      <td class="pt-3-half" name="stock" [contentEditable]="stockEditable">{{product.stock}}</td>
      <td name="value">{{product.value}}</td>
      <td name="actions">
        <button type="button" id="editSave" [class.btn-success]="saveActive" [class.btn-primary]="!saveActive" class="btn" [click]="editStockClick(editMode)">{{editSaveTxt}}</button>
        <button type="button" id="cancel" class="btn btn-warning" (click)="cancelChanges()" hidden="true">Cancel</button>
      </td>
    </tr>


  </tbody>
</table>
