<table class="table table-bordered table-responsive-md table-striped text-center">
  <thead>
    <tr>
        <th class="text-center" id="th.productName">{{headings[0]}}</th>
        <th class="text-center" id="th.unitCost">{{headings[1]}}</th>
        <th class="text-center" id="th.stockLevel">{{headings[2]}}</th>
        <th class="text-center" id="th.stockValue">{{headings[3]}}</th>
        <th class="text-center" id="th.actions">{{headings[4]}}</th>
    </tr>
  </thead>
  <tbody>
    <tr id={{product.id}} name="tr.productRow">
      <td class="pt-3-half" id="td.product">{{product.name}}</td>
      <td class="pt-3-half" id="td.cost">{{product.cost}}</td>
      <td class="pt-3-half" id="td.stock" [contentEditable]="stockEditable">{{product.stock}}</td>
      <td id="td.value">{{product.value}}</td>
      <td id="td.actions">
        <button type="button" id="btn.edit" class="btn btn-primary" (click)="editStockClick()">Edit stock level</button>
        <button type="button" id="btn.save" class="btn btn-success" (click)="saveStockClick()" hidden="true">Save</button>
        <button type="button" id="btn.cancel" class="btn btn-warning" (click)="cancelChanges()" [hidden]="btnCancelHidden">Cancel</button>
      </td>
    </tr>


  </tbody>
</table>
