<table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">Product name</th>
      <th class="text-center">Cost</th>
      <th class="text-center">In Stock</th>
      <th class="text-center">Stock Value</th>
    </tr>
    <tr *ngFor="let product of product_ids.rows">
      <td>
        <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{product.doc.name}}</span>
      </td>
      <td>
        <span contenteditable="true" (keyup)="changeValue(id, 'nonvat', $event)" (blur)="updateList(id, 'nonvat', $event)">{{product.doc.nonvat | number: '1.2-2'}}</span>
      </td>
      <td>
        <fa-icon [icon]="faMinus" (click)="decreaseStock(product.id, $event)"></fa-icon>
        <span contenteditable="false"> {{product.doc.stock}} </span>
        <fa-icon [icon]="faPlus" (click)="increaseStock(product.id)"></fa-icon>
      </td>
      <td>
        <span contenteditable="false">{{product.doc.stockvalue | number: '1.2-2'}}</span>
      </td>
       <td>
        <span class="table-update">
          <button type="button" mdbBtn color="success" rounded="true" size="sm" class="my-0" (click)="update(id)">update</button>
        </span>
      </td>
    </tr>
  </table>