<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Login</h4>
        </mdb-card-title>
        <form class="md-form" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
            <input mdbInput type="text" id="username" placeholder="Username" formControlName="name" class="form-control">
            <input mdbInput type="password" id="password" placeholder="Password" formControlName="password" class="form-control">
          <button type="submit" mdbBtn color="primary" mdbWavesEffect [disabled]="!loginForm.valid">Login</button>
        </form>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
<div #alert class="alert alert-danger alert-dismissible fade" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{loginError}}</strong>
</div>
